h1{

    color: white;
    background-color:rgb(72, 155, 228);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    border: 5px solid;
    padding: 10px;
    
}

  
hero-image{
    background-image: url("image\IMG-20221004-WA0098.jpg");

    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;




}


h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    margin-left: 20px;
    margin-right: 20px;

}
h3{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color: azure;
}


/*....................mobile.............*/ 
@media screen and(max-width:48px) {
    h1{
        font-size: 1.9em;
        text-align: center;
        margin-bottom: 0px;
        border: 5px solid;
        padding: px;
    }
    p{
        font-size: 0.9em;
    }
    h2{
        font-size: 1.6em;
        margin-left: 5px;
        margin-right: 5px;
    }
    h3{
        font-size: 1.6em;
    }
    menu{
        background-color: rgb(66, 94, 94);
    }
    
    
    
}
/*....................tablet..............*/
@media screen and(max-width: 769) {
    h1{
        font-size: 3.5em;
        text-align: center;
        margin-bottom: 0px;
        border: 5px solid;
        padding: 10px;
    }
    p{
        font-size: 2.0em;

    }
    h2{
        font-size: 2.5em;
        margin-left: 10px;
        margin-right: 10px;
    }
    h3{
        font-size: 2.5em;
    }

    
}

 
